<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/itemsNew.css">
    <title>New Item</title>
</head>
<body>
    <main>
        <form action="/items" method="POST">
            <div>
                <label for="item-image-url">Item Image Url</label>
                <input type="text" id="item-image-url" name="imgUrl" required>
            </div>
            <div>
                <label for="item-name">Item Name</label>
                <input type="text" id="item-name" name="name" required>
            </div>
            <div>
                <label for="item-description">Description</label>
                <textarea id="item-description" name="description" rows="4" cols="50"></textarea>
            </div>
            <div>
                <label for="item-price">Price</label>
                <input type="text" id="item-price" name="price" required>
            </div>
            <button type="submit">Submit</button>
        </form>
        <a href="/">
            <button>Cancel</button>
        </a>
    </main>
</body>
</html>