<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Item</title>
</head>
<body>
    <main>
        <form action="">
            <div>
                <img src="" alt="">
            </div>
            <div>
                <label for="item-name">Item Name</label>
                <input type="text" id="item-name">
            </div>
            <div>
                <label for="item-description">Description</label>
                <input type="text" id="item-description">
            </div>
            <div>
                <label for="item-price">Price</label>
                <input type="text" id="item-price">
            </div>
            <button type="submit">Submit</button>
            <a href="/">
                <button>Cancel</button>
            </a>
        </form>
    </main>
</body>
</html>